<% layout('layouts/boilerplate') %> 
<%- include('./partials/navbar')  %> 
<%- include('./partials/flash')  %> 
<link rel="stylesheet" href="/css/star-css.css">
<div class="container mt-5">
    <div class="row justify-content-around">
    <div class="col-md-4">
        <% if(OMDB.Poster !== ""){ %>
          <img src="<%= OMDB.Poster %>" class="thumbnail" alt="N/A">
        <% }else{ %>
          <img src="/resources/noi.jpg" class="card-img-top" alt="N/A">
          <% } %>
      </a>
    </div>
    <div class="col-md-8">
      <h2 class="d-inline-block"><%= OMDB.Title %></h2><span class="text-muted">   <%= OMDB.Year %></span>
      <ul class="list-group">
        <li class="list-group-item"><strong>Genre :  </strong><%= OMDB.Genre %> </li>
        <li class="list-group-item"><strong>Released :  </strong><%= OMDB.Released %></li>
        <li class="list-group-item"><strong>Rated :  </strong><%= OMDB.Rated %></li>
        <li class="list-group-item"><strong>IMDB Rating :  </strong> <%= OMDB.imdbRating %></li>
        <li class="list-group-item"><strong>Director :  </strong> <%= OMDB.Director %></li>
        <li class="list-group-item"><strong>Writer :  </strong><%= OMDB.Writer %></li>
        <li class="list-group-item"><strong>Actors :  </strong><%= OMDB.Actors %></li>
      </ul>
      <div class="mt-3">
        <h3>Plot</h3>
        <%= OMDB.Plot %>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="well"> 
        <div class="container mt-1">
            <div class="row justify-content-center align-items-center">
                <div class="col"><br><br>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Language :  </strong><%= OMDB.Language %></li>
                    <li class="list-group-item"><strong>Runtime :  </strong><%= OMDB.Runtime %></li>
                    <li class="list-group-item"><strong>Country :  </strong><%= OMDB.Country %></li>
                    <hr>
                    <a href="http://imdb.com/title/<%= OMDB.imdbID %>" target="_blank" class="btn btn-primary">View IMDB</a>
                </ul>
                </div>
    <% if(data){ %> 
                <div class="col col-8">
                    <div class="card bg-dark text-white">
                      <% if (data.backdrop_path !== null) {%>
                        <img src="<%= data.backdrop_path %>" class="card-img" alt="N/A">
                      <% }else{ %>
                        <img src="/resources/noi.jpg" class="card-img-top" alt="N/A">
                        <% } %>
                    <div class="card-img-overlay">
                        <div class="container" style="height: 100%;">
                            <div class="row justify-content-around"  id="boxp">
                                <div class="col">
                                    <div>
                                        <p class="card-text"><i id="plot"><%= data.overview %></i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %> 

    </div>
    <hr>
  </div>
      <div class="container mb-4 mt-3">
        <div class="row justify-content-center">
          <div class="col-6">
            <form action="/rev/<%= OMDB.Title %>/<%= OMDB.imdbID %>" method="post" class="validatedForm" novalidate>
              <p>Add a Review</p>
    
              <fieldset class="starability-grow">
                <input type="radio" id="no-rate" class="input-no-rate" name="rate" value="0" checked aria-label="No rating." />
          
                <input type="radio" id="rate1" name="rate" value="1" />
                <label for="rate1">1 star.</label>
          
                <input type="radio" id="rate2" name="rate" value="2" />
                <label for="rate2">2 stars.</label>
          
                <input type="radio" id="rate3" name="rate" value="3" />
                <label for="rate3">3 stars.</label>
          
                <input type="radio" id="rate4" name="rate" value="4" />
                <label for="rate4">4 stars.</label>
          
                <input type="radio" id="rate5" name="rate" value="5" />
                <label for="rate5">5 stars.</label>
          
                <span class="starability-focus-ring"></span>
              </fieldset>
    
              <br>
              <textarea name="review" id="txt" cols="15" rows="3" class="form-control" placeholder="Put your review here"></textarea><br>
              <button class="btn btn-md btn-info">Done</button>
            </form>
          </div>
          <div class="col-8 mt-2 mb-2">
            <% for(let rev of haveReviews){ %>
              <ul class="list-group mt-1">
                
                <li class="list-group-item pb-0"><strong>User - </strong> <span id="usr"> <%= rev.Usr %></span></li>
                <li class="list-group-item pb-0 pt-0">
                  <p class="starability-result" data-rating="<%= rev.Rate %>">
                    Rated
                  </p></li>
                <li class="list-group-item pt-0"><%= rev.Review %></li>
                <% if(LoggedUsr== rev.Usr){%> 
                <li class="list-group-item pt-0">
                  <form action="/rev/<%= rev._id %>/<%= id %>/<%= OMDB.Title %>/<%= rev.Usr %>?_method=DELETE" method="post">
                    <button class="btn btn-primary">Delete</button>
                  </form>
                </li>
                <% } %> 
              </ul>
              
              <% } %> 
          </div>
        </div>
      </div>
</div>
<br><br>
